{% extends 'base.html' %}
{% block content %}
<h2>Смена пароля</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table>
        {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit">Изменить пароль</button>
</form>
{% endblock %}
